*{
    
    box-sizing: border-box;   
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;   
    color: #263238;    
    background-image: url("../img/bg.png");
    
 
}


/* Header */
header{
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid rgb(118, 194, 248);

    
}

#CabeceraContainer{
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    width: 1136px;
    padding: 0 25px;
}


#logo{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

#logo img{
    height: 24PX;
    width: auto;    
}

#logo h1{
    font-weight: bold;
}

#Cabecera{
    display: flex;
    gap: 20px;
}
#Cabecera a:hover{
    
    color: red;
    font-weight: bold;
    
    
}

#Cabecera a:last-child{
    font-weight: bold;
}





/* Section universal */

section{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* seccion 1 */
#contenedorUno{
    justify-content: space-between;
    align-items: center;
    height: 368px;
    width: 1136px;
    display: flex;
    
}

#quiensoy{
    order: 0;
    width: 768px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#quiensoy h2{
    font-size: 52px;
    font-weight: bold;
}

#quiensoy p{
    font-size: 22px;
    font-weight:300;
    line-height: 2rem;
}

#redes{
    font-size: 16px;
    font-weight:500;
    display: flex;
    gap: 30px;
}

#redes a{
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    /* box-shadow: 0px 3px 6px 0px #464646; */
    
    text-align: center;
    width: 80px;
}



#redes a:hover{
    filter: drop-shadow(1px 2px 3px rgb(83, 82, 82));
    transform: scale(1.20);
}

#foto{
    order: 1;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border-width: 10px;
    box-shadow: 0px 0px 5px 0px black;
    
} 



#foto img {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
    border-radius: 50%; /* Hace que la imagen también sea redonda */
}















/* seccion 2 */
#sobreMi{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(212, 228, 250, 0.70);
    height: 383px;
}

#logoColombia{
    bottom: 0;
    right: 200px;
    position: absolute;
    max-height: 360px;
    max-width: 450px;
    align-content: flex-end;
    
    overflow: hidden;
}

#logoColombia img{
    width: 100%;
}

#sobreMi h3{
   
    padding-right: 25rem;

    text-align: start;
    font-size: 38px;
    font-weight: bold;
    
}

#contenedorDos{
    
    width: 1136px;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 25px;
}


#contenedorDos p{
    padding: 15px 0px;
    width: 751px;
    font-size: 16px;
    line-height: 1.4rem;
    font-style: italic;
}

#firma{
    width: 160px;
    height: auto;
    overflow: hidden;
}


/* seccion 3 */
#skillHobbiesFormacion{
    height: 1245px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#Skills{
    order: 0;
    width: 1136px;
    height: 244px;
    flex-direction: column;
    justify-content: space-between;
}

#Skills h3{
    font-size: 32px;
    font-weight: bold;
}




.contenedorSkillsHobbies{
    width: 1136px;
    height: 174px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listaSkillsHobbies{
    height: 174px;
    width: 176px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px;
    gap: 10px;

    box-shadow: 0px 0px 5px 0px rgb(223, 119, 15);
}

.listaSkillsHobbies img{
    height: 37px;
    width: auto;
}

.listaSkillsHobbies p{
    font-size: 16px;
    font-weight: bold;
}


#Hobbies{
    order: 1;
    width: 1136px;
    height: 244px;
    flex-direction: column;
    justify-content: space-between;
}

#Hobbies h3{
    font-size: 32px;
    font-weight: bold;
}






#Formacion{
    order: 2;
    height: 580px;
    width: 100%;
    background-color: rgba(212, 228, 250, 0.70);
    flex-direction: column;
    gap: 25px;
}

#Formacion h3{
    font-size: 32px;
    font-weight: bold;
    gap: 25px;
}

#contenedorFormacion{
    width: 1136px;
    height: 347PX;
    
    display: flex;
    justify-content: space-between;
    

}

.subContenedorFormacion{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.subContenedorFormacion h4{
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

.subContenedorFormacion p{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

.contenedorIgm{
    width: 368px;
    height: 286px;
    overflow: hidden;
    background-color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedorIgm img{
    width: 50%;
}



/* Experiencia */

#Experiencia{
    
    height: 643px;
    flex-direction: column;
    justify-content: space-evenly;
}

#Experiencia h3{
    font-size: 32px;
    font-weight: bold;

}

#Experiencia a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Experiencia img{
    width: 50%;
}

#Experiencia img:hover{
    filter: drop-shadow(1px 2px 3px rgb(83, 82, 82));
    transform: scale(1.05);
}




/* Contacto */

#Contacto{
    height: 788px;
    background-color: rgba(212, 228, 250, 0.70);
}

#contenedorContacto{
    width: 1136px;
    height: 660px;
    padding-top: 64px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between
}

#imgContacto{
    width: 464px;
    height: 593px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6a5a5;
}

#imgContacto img{
    width: 70%;
}

#contenedorContacto form{
    height: 596px;
    width: 656px;
    position: relative;
    display: flex;
    flex-direction: column;

    left: 0;
    top: 0;
    gap: 32px;
    
}

#textoContato{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#contenedorContacto form h3{
    
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

#contenedorContacto form p{
    height: 38px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    color: #464646;
}


.contenedorInput{
    width: 656px;
    height: 56px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding: 8px 12px 8px 12px;
    gap: 7px;
    border-bottom: 2px solid #C8C8C8;
    
}


.contenedorInput label{
    width: 632px;
    height: 16px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #A2A2A2;
}

.contenedorInput input{
    width: 632px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #464646;
    line-height: 20px;
    outline-color:  #2A7AE4;
    outline-offset: 4px;

}


#inputAsunto{
    width: 656px;
    height: 56px;
    padding: 16px 12px 16px 12px;
    border-bottom: 2px solid #C8C8C8;
    border-radius: 4px;
    outline-color:  #2A7AE4;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}


#textareaMensaje{
    width: 656px;
    height: 133px;
    border-radius: 4px;
    padding: 16px 12px 16px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border-bottom: 2px solid #C8C8C8;
    outline-color:  #2A7AE4;
    
}


#contenedorContacto button{
    height: 51px;
    width: 144px;
    padding: 16px;
    
    background-color: #2A7AE4;

    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

#contenedorContacto button:hover{
    transform: scale(1.05);
}



/* Footer */

footer{
    height: 102px;
    align-content: center;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: white;
    line-height: 30px;
}



/* Mobile */

@media (min-width:320px) {
   
   /*  header{
        width: 100%;
    } */

    

     #CabeceraContainer{
        height: 56px;
    }

    #Cabecera a:last-child{
        font-size: 14px;
        font-weight: 400;
    }

   

   
    

    #Cabecera a:not(:last-child) {
        display: none;
    }

    
    #saludo{
        padding-top: 20px;
    }
    

    #contenedorUno{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap: 16px;
        height: auto;
        padding-left: 10px;
    }

    

    #quiensoy{
        order: 1;
        max-width: 350px;
        row-gap: 16px;
    }

    #quiensoy h2{
        font-size: 22px;
    }

    #quiensoy p{
        font-size: 14px;
    }

    #redes{
        font-size: 14px;
        
        gap: 8px;
    }

    #foto{
        order: 0;
        width: 98px;
        height: 98px;
    }



    
      

    #sobreMi h3{
        order: 0;
        text-align: center;
        padding-right: 0;
        
    }

    #contenedorDos{
        order: 1;
        height: 318px;
        width: 328px;
        justify-content: space-between;
        padding: 10px;
        
    }

    
    
    #contenedorDos p{
        font-size: 14px;
        width: auto;
    }
    
    #firma{
        width: 140px;
        height: 52px;
        overflow: hidden;
    }

    #logoColombia{
        order: 2;
        right: 0;
        bottom: 0;
        height: 135px;
    }

    #logoColombia img{
        height: 100%;
    }





    


    #Skills{
        order: 0;
        width: 360px;
        height: 400px;
        
        overflow: hidden;
        justify-content: space-around;
    }
    
    #Skills h3{
        font-size: 24px;
    }

    .contenedorSkillsHobbies{
        width: auto;
        height: auto;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    

   

    

    #Hobbies{
        order: 1;
        width: 360px;
        height: 400px;
        
        justify-content: space-around;
    }

    #Hobbies h3{
        font-size: 24px;
    }

    .listaSkillsHobbies{
        height: 118px;
        width: 150px;
    }

    

    #Formacion{
        height: 661px;
        width: 100%;
        padding: 10px 1px 10px 1px;
        
    }
    
    #Formacion h3{
        font-size: 22px;
    }



    #contenedorFormacion{
        width: auto;
        height: auto;
        
        flex-direction: column;
        justify-content: space-between;
        
    
    }
    
    .subContenedorFormacion{
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    
    .subContenedorFormacion h4{
        font-size: 16px;
    }
    
    .subContenedorFormacion p{
        font-size: 14px;
    }
    
    .contenedorIgm{
        width: 285px;
        height: 118px;
    }
    
    .contenedorIgm img{
        width: 35%;
    }




    #Experiencia{
        height: 250px;
       
    }

    #Experiencia h3{
        font-size: 22px;
    }

    #Experiencia img{
        width: 80%;

    }



    
    #imgContacto{
        display: none;
    }



    #Contacto{
        height: 675px;
        width: auto;
    }
    
    #contenedorContacto{
        width: 296px;
        height: 611px;
        padding: 0;
        gap: 32px;
        
    }
    
    
    
       
    #textoContato{
        width: 296px;
        height: 110px;
    }

    #textoContato h3{
        font-size: 22px;
    }

    #textoContato p{
        width: 296px;
        font-size: 16px;
    }    
    
    .contenedorInput{
        width: auto;
        height: 56px;        
    }
    
    
    .contenedorInput label{
        width: auto;
    }
    
    .contenedorInput input{
        width: auto;   
    }
    
    
    #inputAsunto{
        width: auto;
        height: 56px;
    }
    
    
    #textareaMensaje{
        width: auto;
        height: 133px;        
    }
    
    
    #contenedorContacto button{
        height: 40px;
        width: 133px;    
        font-size: 14px;
    } 
} 





/* Tablet */
/* 
@media (min-width:768px){

    #Cabecera a:last-child{
        font-size: 16px;
        font-weight: bold;
    }

    #contenedorUno{
        flex-direction: row;
        height: 210px;
        align-items: center;
    }

    #quiensoy{
        order: 0;
        width: 524px;
        height: 130PX;
        row-gap: 16px;
        
    }
    
    #quiensoy p{
        font-size: 16px;
    }
    #redes{
        font-size: 16px;
        
        gap: 8px;
    }

    #foto{
        order: 1;
        width: 146px;
        height: 146px;
    }

    #sobreMi{
        height: 286px;
        
        
    }

    #contenedorDos{
        height: 222px;
        width: 704px;
        
    }

    #skillHobbiesFormacion{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #Skills, #Hobbies{
        width: 704px;
        height: 250px;
        justify-content: space-around;
        margin-top: 0;
    }

    #Formacion{
        height: 291px;
        width: 100%;
        padding: 10px 1px 10px 1px;
    }

    #contenedorFormacion{
       
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
    }


    

    .contenedorIgm{
        width: 240px;
        height: 118px;
    }



    #contenedorContacto{
        width: 704px;
        height: 573px;
        
        
    }



} */